.prod-reward {
  border: 1px solid #f08c30;
    background: rgba(240, 140, 48, 0.15);
    border-radius: 3.125rem;
    padding: 0.3rem 0.525rem 0.3rem 0.4125rem;
    font-weight: bold;

    img {
      vertical-align: text-top;
      vertical-align: middle;
    }
 }
