<div class="row">
  <div class="col">
    <img class="prod-img" src="{{item?.default?.image?.src}}" alt="{{item?.default?.image?.alt}}">
  </div>
  <div class="col prod-detail">
    <h1 class="prod-name">{{item?.default?.name}}</h1>
    <p class="prod-price">Rs. {{item?.default?.price}}</p>
    <p class="reward-wrapper">
      <app-reward [number]='item?.default?.rewards_point'></app-reward>
    </p>
    <div>
      Available in
      <div *ngFor='let variation of item?.variations'>
        <span class="prod-var" (click)='changeVariation(variation)' [ngClass]="{'prod-var-active': variation.id === item.default?.id}">{{variation?.variation}}</span>
      </div>
    </div>
    <button type="button" class="prod-atc" (click)='addToCart()'>Add to Cart</button>
  </div>
</div>
<div class="row mt-1">
  <div class="col ">
    <h2>Description</h2>
    <p>{{item?.default?.description}}</p>
  </div>
</div>
