<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <!-- <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </span> -->
    </div>
  </nz-header>
  <nz-layout class="inner-layout">
    <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="sidebar-logo">
        <img src="https://airliftexpress.com/assets/img/logo.svg" alt="logo">
      </div>
      <ul nz-menu [nzMode]="'vertical'">
        <li nz-submenu nzTitle="Beverages" routerLink='category/beverages' routerLinkActive='active'
          [routerLinkActiveOptions]="{exact:
          true}">
        </li>
        <li nz-submenu nzTitle="Organic" routerLink='category/organic' routerLinkActive='active'
          [routerLinkActiveOptions]="{exact:
          true}">
        </li>
      </ul>
    </nz-sider>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
